body {
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
}

.main-heading {
  text-align: center;
  padding-bottom: 50px;
  h2 {
    color: $darkGrayishBlue;
    font-size: 30px;
  }
  p {
    font-size: 20px;
    color: $GrayishBlue;
  }
}
.snippets-box {
  display: flex;

  @include media;

  gap: 100px;
  img {
    position: relative;
    left: -30px;
    max-width: 100%;
    @include secMedia {
      left: 0;
    }
  }
  h3 {
    margin: 0;
    font-size: 25px;
    color: $darkGrayishBlue;
  }
  p {
    color: $GrayishBlue;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include secMedia {
      text-align: center;
    }
  }
}

.access {
  .img {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}

.supercharge {
  .container {
    display: flex;
    gap: 30px;
    justify-content: center;
    @include media;
    .box {
      text-align: center;
      h3 {
        color: $darkGrayishBlue;
        font-size: 25px;
      }
      p {
        color: $GrayishBlue;
        line-height: 2;
      }
    }
  }
}

.partners {
  .container {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    @include media;
    img {
      max-width: 100%;
      height: 100%;
      margin-bottom: 50px;
    }
  }
}
